@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex-flow: row nowrap;
    height: 2.5em;
    border-radius: .4em;
    border: 1px solid var(--color-stroke-secondary);
    background-color: var(--color-surface-secondary);
}
.section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: .4em;
    @include cursor(pointer);
    border: 1px solid transparent;
    transition: border-color var(--transition);

    .svg {
        width: 1em;
        height: 1em;
        fill: var(--color-icon-primary);   
        transition: fill var(--transition);
    }
    &:hover {
        border-color: var(--color-contrast);
    }
    &.active {
        background-color: var(--color-accent);

        .svg {
            fill: var(--color-accent-text-primary);
        }
    }
}