.switchWrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 1px; // Уменьшил до 1px
  
  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.sm {
    gap: 6px;
    .label { font-size: 0.8em; }
  }
  
  &.bg {
    gap: 10px;
    .label { font-size: 1.06em; }
  }
}

.switch {
  position: absolute;
  opacity: 0;
  
  &:checked + .slider {
    background: var(--color-accent-primary);
    border-color: var(--color-accent-primary);
    
    &::before {
      transform: translateX(20px);
      background: white;
    }
  }
  
  &.contrast:checked + .slider {
    background: var(--color-background-contrast);
    border-color: var(--color-background-contrast);
  }
  
  &.brand:checked + .slider {
    background: var(--color-brand);
    border-color: var(--color-brand);
  }
  
  &.accent:checked + .slider {
    background: var(--color-accent-primary);
    border-color: var(--color-accent-primary);
  }
  
  &.alternative:checked + .slider {
    background: var(--color-alternative-primary);
    border-color: var(--color-alternative-primary);
  }
}

.slider {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  background: var(--color-background-secondary);
  border: var(--border-width) solid var(--color-border-primary);
  border-radius: 20px;
  transition: all 0.3s ease;
  
  &::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background: var(--color-border-primary);
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .sm & {
    width: 36px;
    height: 20px;
    
    &::before {
      height: 12px;
      width: 12px;
      left: 2px;
      top: 2px;
    }
    
    .switch:checked + &::before {
      transform: translateX(14px);
    }
  }
  
  .bg & {
    width: 52px;
    height: 28px;
    
    &::before {
      height: 20px;
      width: 20px;
      left: 3px;
      top: 2px;
    }
    
    .switch:checked + &::before {
      transform: translateX(23px);
    }
  }
}

.label {
  font-size: 1em;
  color: var(--theme-text-color);
  user-select: none;
  
  .disabled & {
    color: var(--color-text-disabled);
  }
}