@mixin theme {
  // ==================== CORE ====================
  --color-brand: #ff4c4c;
  --color-leader: #ffffff;                      // --color-leader
  
  // ==================== BACKGROUNDS ====================
  --color-background-primary: #ffffff;          // --color-background-primary
  --color-background-primary-invert: #0a0a0a;   // --color-background-primary-invert
  --color-background-secondary: #d7d7d7;        // --color-background-secondary
  --color-background-secondary-trans: #d7d7d7b0; // --color-background-secondary-trans
  --color-background-tertiary: #c2c2c2;         // --color-background-tertiary
  --color-background-contrast: #121212;         // --color-background-contrast
  --color-background-input: #eeeeee;            // --color-background-input
  --color-background-header: rgba(222, 222, 222, 0.9); // --color-background-header
  --color-background-modal-widget: #bdbdbd;
  
  // =================== ALTERNATIVE DESIGN ===================
  --color-alternative-primary: #222222;
  --color-alternative-secondary: #0f0f0f;

  // ==================== TEXT ====================
  --color-text-primary: #0a0a0a;                // --color-text-primary
  --color-text-secondary: #6e6e6e;              // --color-text-secondary
  --color-text-contrast: #d4d3d3;               // --color-text-contrast
  --color-text-description: #808080;            // --color-text-description
  
  // ==================== BORDERS & LINES ====================
  --color-border-primary: #eaeaea;              // --color-border-primary
  --color-border-secondary: #d2d2d2;            // --color-border-primary-color
  --color-line-stroke-primary: #b1b1b1;         // --color-line-stroke-primary
  --color-line-stroke-secondary: #3535359e;     // --color-line-stroke-secondary
  
  // ==================== ICONS ====================
  --color-icon-primary: #161616;                // --color-icon-primary
  --color-icon-primary-invert: #eeeeee;         // --color-icon-primary-invert
  --color-icon-primary-unactive: #989898;
  
  // ==================== ACCENTS ====================
  --color-accent-primary: #49a3ff;              // --color-accent-primary
  --color-accent-primary-trans: #49a4ff77;
  --color-accent-primary-contrast: #eeeeee;     // --color-accent-primary-contrast
  --color-accent-secondary: #8e4ec6;            // --color-accent-secondary
  --color-accent-secondary-contrast: #eeeeee;   // --color-accent-secondary-contrast
  
  // ==================== STATUS ====================
  --color-status-error: #dc2626;                // --color-status-error
  --color-status-error-rgb: 220, 38, 38;        // --color-status-error-rgb
  
  // ==================== LINKS ====================
  --color-link-primary: #52a8ff;                // --color-link-primary
  --color-green: #1fcd62;
  --color-blue: #0070f3;
  --color-orange: #f38200;
  --color-red: rgb(228, 37, 37);
  --color-background-stylus: #e6e6e6;
}