@use '@/assets/styles/_mixins.scss' as *;

// Not Found
.container.notFound {
    height: 100vh;
    // background-color: #000000;
    color: #0b0b0b;

    .grid {
        display: flex;
        height: 80vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        .frame {
            display: inline-flex;
            width: 100%;
            max-width: 30rem;
            flex-flow: column nowrap;
            gap: 0.8rem;
            padding: 1rem;
            border-radius: 0.4em;

            .title {
                font-size: 1em;
                font-weight: 600;
                letter-spacing: 0.02em;
                line-height: 1.2;
            }
            .description {
                font-size: 0.4em;
                line-height: 1.4;
            }
            .actions {
                display: flex;
                flex-flow: column nowrap;
                justify-content: start;
                gap: 0.2em;

                .link {
                    display: flex;
                    width: 100%;
                }
                .action {
                    display: inline-flex;
                    font-size: 0.44em;
                    background-color: #000000;
                    color: #eee;
                    
                    @media (max-width: 720px) {
                        display: flex;
                        width: 100%;
                    }
                }
            }
        }

        @media (max-width: 720px) {
            font-size: 1.4em;
        }
    }
}

// Base
.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    position: relative;

    .focus {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        font-size: .4em;

        @media (max-width: 720px) {
            font-size: .66em;
        }
    }
}

// Nav area
.panel {
    display: inline-flex;
    border-right: 1px solid var(--color-stroke-primary);
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--color-surface-primary);
    z-index: 1000;

    .inner {
        display: block;
        width: 11rem;
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
    }
    
    @media (max-width: 720px) {
        padding: 0 1rem;
        width: 0;
        padding: 0;
        border: none;
        font-size: 1.2em;
    }
}

// Content area
.content {
    display: flex;
    flex: 1;
    padding: 2rem;
    overflow: hidden;
    align-items: start;
    justify-content: center;
    font-size: .9em;

    .center {
        display: flex;
        flex: 1;
        width: 100%;
        max-width: 34rem;
        flex-flow: column nowrap;
    }

    @media (max-width: 720px) {
        padding: 2rem 1rem;
        padding-top: 4rem;
    }
}