
.smText{
    font-size: 0.9em;
}
.mdText{
    font-size: 1.1em;
}
.bgText{
    font-size: 1.3em;
}

.smMargins {
    margin: 4px 0px;
}
.mdMargins {
    margin: 8px 0px;
}
.bgMargins {
    margin: 13px 0px;
}

.article {
    .title {
        font-size: 1.4em;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .text {   
        font-size: 1.1em;
    }
    .description {
        font-size: 1em;
        color: var(--color-text-description);
        padding: 6px 0px;
    }
    padding: 15px;
    border-left: 5px solid var(--color-accent-primary);
}
.info {
    .title {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.3;
    }
    .text {   
        font-size: 0.9em;
    }
    .description {
        font-size: 0.9em;
        color: var(--color-text-description);
        padding: 3px 0px;
    }
    border-radius: var(--component-border-radius);
    padding: 12px;
    background-color: var(--color-background-secondary);

    &.empty {
        background-color: transparent;
        border: 1px solid var(--color-border-primary-color);
    }
}