@use '@/assets/styles/_mixins.scss' as *;

.button {
  display: inline-flex;
  height: 3em;
  font-size: 1em;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 0em 0.9em;
  border-radius: 0.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include cursor(pointer);
  color: var(--color-text-primary);
  border: 1px solid var(--color-stroke-secondary);


  // Variants
  &.default {
    background-color: var(--color-surface-secondary);
    color: var(--color-text-primary);
  }
  &.leader {
    background-color: var(--color-leader);
    color: var(--color-text-primary);
  }
  &.contrast {
    background-color: var(--color-contrast);
    color: var(--color-contrast-text-primary);
  }
  &.elevated {
    background-color: var(--color-surface-elevated);
    color: var(--color-text-primary);
  }
  &.empty {
    background-color: transparent;
    color: var(--color-text-primary);
  }
  &.glass {
    background-color: var(--color-surface-glass);
    backdrop-filter: blur(10px);
    color: var(--color-text-primary);
  }
  &.brand {
    background-color: var(--color-brand);
    color: var(--color-leader);
  }
  &.accent {
    background-color: var(--color-blue);
    color: var(--color-leader);
  }
  &.fullWidth {
    width: 100%;
  }

  // Sizes
  &.bg {
    font-size: 1.25em;
  }
  &.sm {
    font-size: 0.75em;
  }
}