@use '@/assets/styles/_mixins.scss' as *;

.button {
  display: inline-flex;
  height: 2.7em;
  font-size: 1em;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 0em 0.9em;
  border-radius: 0.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include cursor(pointer);
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  border: 1px solid var(--color-line-stroke-secondary);

  &.default {
    background-color: #222222;
    color: #eee;
  }
  &.brand {
    background-color: var(--color-brand);
    color: #eee;
  }
}