.textarea {
  display: inline-flex;
  padding: 1em;
  font-size: 1em;
  transition: all 0.2s ease;
  outline: none;
  width: auto;
  font-family: inherit;
  line-height: 1.3;
  resize: both;
  min-height: 5em;
  background-color: var(--color-leader);
  color: var(--color-text-primary);
  border-radius: 0.5em;
  border: 1px solid var(--color-stroke-secondary);
  
  // Variants
  &.default {
    background-color: var(--color-surface-secondary);
    color: var(--color-text-primary);
  }
  &.leader {
    background-color: var(--color-leader);
    color: var(--color-text-primary);
  }
  &.contrast {
    background-color: var(--color-contrast);
    color: var(--color-contrast-text-primary);
  }
  &.elevated {
    background-color: var(--color-surface-elevated);
    color: var(--color-text-primary);
  }
  &.empty {
    background-color: transparent;
    color: var(--color-text-primary);
  }
  &.glass {
    background-color: var(--color-surface-glass);
    backdrop-filter: blur(10px);
    color: var(--color-text-primary);
  }
  &.brand {
    background-color: var(--color-brand);
    color: var(--color-leader);
  }
  &.accent {
    background-color: var(--color-blue);
    color: var(--color-leader);
  }
  &.fullWidth {
    width: 100%;
  }

  // Sizes
  &.bg {
    font-size: 1.25em;
  }
  &.sm {
    font-size: 0.75em;
  }

  &.error {
    border-color: var(--color-status-error);
    
    &:focus {
      box-shadow: 0 0 0 2px rgba(var(--color-status-error-rgb), 0.2);
    }
  }
  // Управление resize
  &.resizeNone {
    resize: none;
  }

  &.resizeHorizontal {
    resize: horizontal;
  }

  &.resizeVertical {
    resize: vertical;
  }
}