@use 'base/reset';
@use 'base/typography' as *;
@use 'base/themes/main' as main;

:root {
  @include font-styles;
  @include main.theme;

  --transition: 0.3s ease;
  --pc-min-width: 1420px;
  --mobile-max-width: 720px;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: var(--font-sans);
  font-weight: 400;
  background: var(--color-leader);
  color: var(--color-text-primary);
  transition: background-color var(--transition), color var(--transition);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1;
  font-size: 1.6rem;

  @media (max-width: 720px) {
    font-size: 1.2em;
  }
}
@media (max-width: 720px) {
  html, body {
    -ms-overflow-style: none;  /* IE Ð¸ Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
}
.container {
  display: flex;
  justify-content: center;
}

.focus {
  display: inline-block;
  max-width: 120rem;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: 700;
  margin: 0 0 0.5em;
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 0.9;
}

h2, h3 {
  line-height: 1;
}

p {
  max-width: 65ch;
  margin-bottom: 1em;
}