.wrap {
    display: block;
    overflow-x: scroll;
}
.table {
    width: 100%;
    border: 1px solid var(--color-stroke-secondary);
    overflow: hidden;
    border-radius: .6em;
    
    .name {
        white-space: nowrap;
    }
    thead td {
        background-color: var(--color-surface-secondary);
        text-align: left !important;

        &:first-child {
            border-top-left-radius: .6em;
        }
        &:last-child {
            border-top-right-radius: .6em;
        }
    }
    td { 
       padding: 1em;
       line-height: 1.2;
       
       .icon {
            display: inline-flex;
            width: 3.5em;
            height: 3.5em;
            border: 1px solid var(--color-stroke-secondary);
            border-radius: .5em;
            align-items: center;
            justify-content: center;

            img {
                width: 80%;
                border-radius: .4em;
                height: auto;
            }
       }
       .status {
            display: inline-flex;
            padding: .4em .7em;
            border-radius: .5em;
            border: 1px solid var(--color-stroke-secondary);
            color: var(--color-accent-text-primary);

            &.using {
                background-color: var(--color-blue);
            }
            &.planned {
                background-color: var(--color-purple);
            }
            &.deprecated {
                background-color: var(--color-red);
            }
       }
    }
    tr td {
        &:first-child {
            text-align: center;
        }
    }
}